/* kitteh */



/* Http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{ border: 0; font: inherit; font-size: 100%; margin: 0; padding: 0; vertical-align: baseline }

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block }


/* basic html */
html { height: 100%; background: #fff; font-size: 100%; -ms-text-size-adjust: 100%; cursor: url("nyancat.cur"), url("nyancat.png"), auto; }

body
{   
    height: 100%;
    position: relative;
    color: #333;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px; 
    -webkit-transition: background 600ms ease-in-out; 
}

strong, b, .bold { font-weight: bold; }
em, i, .italic { font-style: italic; }

h1, h2, h3, h4, h5, h6 { font-size: 2em; font-weight: normal; margin-bottom: 0.5em; }

a { text-decoration: none; color: #2b3e47; }
a:hover { text-decoration: underline; }

img { border: 0; -ms-interpolation-mode: bicubic; }

p { line-height: 1.5em; margin-bottom: 1em; }

ul li { list-style: disc outside; }
ol li { list-style: decimal outside; }



/* reusable classes */

.clear { clear:both }
.bold { font-weight: bold; }

/* stuff */

h1 { 
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 20%;
    text-align: center;
}


button { background: #333; color: #f5f5f5; border: 0; padding: 1em 1.5em; border-radius: 0.3em; }
button:hover { cursor: pointer; }

section {
   height: 100%;

}

#blurb {
    padding: 1em;
}

