/* kitteh */



/* Http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{ border: 0; font: inherit; font-size: 100%; margin: 0; padding: 0; vertical-align: baseline }

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block }


/* basic html */
html { height: 100%; background: #fff; font-size: 100%; -ms-text-size-adjust: 100%; cursor: url("nyancat.cur"), url("nyancat.png"), auto; }

body
{   
    height: 100%;
    position: relative;
    color: #333;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px; 
    -webkit-transition: background 300ms ease-in-out; 
}

strong, b, .bold { font-weight: bold; }
em, i, .italic { font-style: italic; }

h1, h2, h3, h4, h5, h6 { font-size: 2em; font-weight: normal; margin-bottom: 0.5em; }

a { text-decoration: none; color: #2b3e47; }
a:hover { text-decoration: underline; }

img { border: 0; -ms-interpolation-mode: bicubic; }

p { line-height: 1.5em; margin-bottom: 1em; }

ul li { list-style: disc outside; }
ol li { list-style: decimal outside; }

blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: none }

table { border-collapse:collapse; border-spacing:0 }
td { vertical-align: top; }

abbr[title] { border-bottom: 1px dotted; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* reusable classes */

.clear { clear:both }
.bold { font-weight: bold; }

/* stuff */

h1 { text-transform: uppercase; color: #2e2e2e; font-size: 2em; font-weight: bold; letter-spacing: 1px; }
h2 { text-transform: uppercase; color: #2e2e2e; font-size: 1em; font-weight: bold; letter-spacing: 1px; }

button { background: #333; color: #f5f5f5; border: 0; padding: 1em 1.5em; border-radius: 0.3em; }
button:hover { cursor: pointer; }

section {
   

}

#blurb {
    padding: 1em;
}



/* leap kitteh */

#lk-wrap {
    position: fixed;
    bottom: 50px;
    left: 1em;
    right: 1em;
    height: 200px;


}

#leap-kitteh { 
    position: relative;
    min-width: 200px;
    padding: 1em;
    border-radius: 1em;
    background: #2e2e2e;
    overflow-y: hidden;   
}

#kittehs {
    height: 200px !important;
    min-width: 3000px;
}
                
#kittehs li {
    list-style: none none;
    display: inline-block;
    width: 196px; height: 196px;
    margin-right: 25px;
    text-align: left;
    border: 2px solid #272727;
    border-radius: 9px;
    overflow: hidden;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-color: #333 !important;
    -webkit-transform: translateZ(0);
}

#kittehs li img { /*display: none;*/  }


/* lightbox */

#litter-box {
    position: absolute;
    z-index: 11;
    top: 80px; left: 40%;
    height: 230px;
    text-align: center;
    background: #333;
    border: 3px solid #2e2e2e;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
    padding: 25px;
    -webkit-transform: scale(0);
    -webkit-transition: all 300ms ease-in-out;

}

#litter-box img { height: 230px; width: auto; }
#litter-box.show {
    background: #fff;
    padding: 50px;
    margin: 0;
    border: 0;
    z-index: 10;
    -webkit-transform: scale(1);
}




.animate {
   /* -webkit-transition: all 500ms ease-in-out;*/


}

/* dump */

#x, #y, #z { 
    display: inline-block;
    width: 90px;
    padding: 1em;
    background: #333;
    border: 3px solid #2e2e2e;
    border-radius: 0.5em;
    color: yellowgreen;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
}


