 /* kursor */



/* Http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{ border: 0; font: inherit; font-size: 100%; margin: 0; padding: 0; vertical-align: baseline }

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block }


/* basic html */
html { height: 100%; background: #fff; font-size: 100%; -ms-text-size-adjust: 100%; /*cursor: url("nyancat.cur"), url("nyancat.png"), auto;*/ }

body
{   
    height: 100%;
    position: relative;
    color: #fff;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    overflow: hidden;
    background: #023467; 
}

strong, b, .bold { font-weight: bold; }
em, i, .italic { font-style: italic; }

h1, h2, h3, h4, h5, h6 { font-size: 2em; font-weight: normal; margin-bottom: 0.5em; }

a { text-decoration: none; color: #2b3e47; }
a:hover { text-decoration: underline; }

img { border: 0; -ms-interpolation-mode: bicubic; }

p { line-height: 1.5em; margin-bottom: 1em; }

ul li { list-style: disc outside; }
ol li { list-style: decimal outside; }



/* reusable classes */

.clear { clear:both }
.bold { font-weight: bold; }

/* stuff */

h1 { 
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
}


button { background: #333; color: #f5f5f5; border: 0; padding: 1em 1.5em; border-radius: 0.3em; }
button:hover { cursor: pointer; }

#blurb {
   padding: 1em;
}

#blurb ul li {
    display: inline;
    list-style: inside none;
    margin-right: 1em;
}

label {
    color: #fff;
    margin-right: 0.25em;
}

input[type=radio] { 
    border: 1px solid #05294e;
    border-radius: 100%;
    background: #041e39 !important;
}



/* kursor */

#sky {
    position: relative;
    overflow: hidden;
}

#area {
    width: 800px;
    height: 600px;
    position: relative;
    margin: 0 auto;
}

#floor {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: gold;
}

#kursor {
    width: 32px;
    height: 20px;
    position: absolute;
    top: -300px;
    left: 400px;
    z-index: 99;
    -webkit-transition: top 17ms 0ms ease, left 17ms 0ms ease;
}

#kursor.float {
    -webkit-transition: top 1000ms 0ms ease-in-out, left 1000ms 0ms ease-in-out;
}

#nyan {
    width: 32px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-image: url(nyancat-sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-animation: nyan-ani 500ms steps(2) infinite;
}

@-webkit-keyframes nyan-ani {
  from { background-position: 0 0; }
  to { background-position: 0 -44px; }
}

#rainbow {
    width: 1200px;
    height: 20px;
    position: absolute;
    z-index: 1;
    top: 1px;
    right: 15px;
    background-image: url(rainbow.png);    
    background-repeat: repeat-x;

    -webkit-animation: rainbow-ani 500ms steps(2) infinite;
}

@-webkit-keyframes rainbow-ani {
  from { background-position: -15px 0; }
  to { background-position: 0px 0; }
}

.star {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 110%;
    background-image: url(stars.png);
    -webkit-animation: star-ani 700ms steps(7) infinite;
}

.star.go {
    left: -10%;
    -webkit-transition: left 4000ms 0ms linear;    
}

@-webkit-keyframes star-ani {
  from { background-position: 0 0; }
  to { background-position: 0 105px; }
}


/* audio */

audio { display: none; }

/* buttons etc */





